<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %> <!-- <% %>used for anything not JS - control flow logic-->
        <h1 style="color:blueviolet"><%= kindOfDay %> List</h1> <!--replace with value coming from app.js with same key -->
    <% } else { %>
        <h1 style="color:rgb(43, 226, 64)"><%= kindOfDay %> List</h1>
    <% } %>
</body>
</html>